body {
    background-color: lightgray;
    margin: 0;
}

/* Targeting a class in CSS - every element with the class of header will recieve these css rules */
.header {
    display: fixed;
    width: 100%;
    background-color: cyan;
    overflow: hidden;
}

.headerLink {
    padding: 14px 16px; 
    text-decoration: none;
    color: currentColor;
    font-size: 20pt; 
}

.headerLink:hover {
    color: white;
    text-decoration: underline;
}

/* Target an ID in CSS- the element with the ID of homeLink will recieve these CSS rules */
#homeLink {
    float: left;
}

#aboutLink {
    float: right;
}

img {
    margin: 0 auto;
    display: flex;
} 

h1, p {
    text-align: center;
    padding: 0 10px;
}